@import 'variable';
@import 'mixin';
@import '../../../bower_components/angular-material-sass-files/variables.scss';
@import '../../../bower_components/google-material-color/dist/palette.scss';

favorite {
    min-width: 143px;
    md-icon {
        color: #fff;
        &.active {
            margin: -1px 0 0 -0.5px;
            font-size: 26.5px;
            color: palette(Red, 400);
        }
    }
}
@media (min-width: $layout-breakpoint-sm) {
    favorite {
        display: block;
    }
}
