@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
        local('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular'),
        local('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular'),
        url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
        url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
        url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype'),
        url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
        url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
        url('/bower_components/material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
md-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
.md-button,
md-icon {
    &[disabled='disabled'] {
        opacity: 0.5;
    }
}
.icon {
    display: inline-block;
    object-fit: cover;
    &.like {
        width: 34px;
        height: 39px;
    }
    &.like-down {
        width: 34px;
        height: 36px;
    }
}
.md-icon-button {
    &.md-button-down {
        padding-top: 14px;
    }
}
.md-button-up {
    color: palette(Red, 400);
}
@media (min-width: $layout-breakpoint-sm) {
    .md-button {
        .icon {
            margin-right: 16px;
        }
    }
}
