@import 'variable';
@import 'mixin';
@import '../../../bower_components/angular-material-sass-files/variables.scss';
@import '../../../bower_components/google-material-color/dist/palette.scss';

main {
    max-width: 1176px;
    margin: 0 auto;
    padding: 8px;
    .content {
        text-align: center;
        film {
            text-align: left;
        }
    }
}
.page {
    &.page-internal {
        main {
            padding: 8px;
        }
        .content {
            margin: -8px;
        }
    }
}
@media (min-width: $layout-breakpoint-xs) {
    .page {
        &.page-internal {
            main {
                padding: 16px;
            }
        }
    }
}
