@import 'variable';
@import 'mixin';
@import '../../../bower_components/angular-material-sass-files/variables.scss';
@import '../../../bower_components/google-material-color/dist/palette.scss';

app-menu {
    md-list-item {
        .md-button {
        }
        &.active {
            padding-bottom: 16px;
            .md-button {
                padding-bottom: 0;
                border-bottom: 4px solid #fff;
            }
        }
    }
}
@media (min-width: $layout-breakpoint-xs) {
    app-menu {
    }
}
