@import 'variable';
@import 'mixin';
@import '../../../bower_components/angular-material-sass-files/variables.scss';
@import '../../../bower_components/google-material-color/dist/palette.scss';

header app-menu {
    md-list-item {
        &.active {
            padding-bottom: 16px;
            .md-button {
                padding-bottom: 0;
                border-bottom: 4px solid #fff;
            }
        }
    }
}
.md-sidenav-left.nav {
    background-color: palette(Grey, 800);
    app-menu {
        width: 100%;
    }
    nav {
        height: 100%;
    }
    .md-button {
        color: #fff;
    }
}
@media (min-width: $layout-breakpoint-xs) {
    app-menu {
    }
}
