.sass-cache
node_modules
bower_components/angular-material-sass-files
bower_components/animate-sass
bower_components/google-material-color
bower_components/material-design-icons

*-lock.json
*.sublime-*
package-lock.json
