<md-list type="{{ type }}" ng-class="{ 'hide-xs hide-sm layout-gt-sm-row layout-align-center-start layout-column': type === 'header' }">
    <md-list-item ng-class="{ 'active': $state.current.name === 'app' }">
		<md-button ng-click="Menu.Go('app')">Filmes não curados</md-button>
    </md-list-item>
    <md-list-item ng-class="{ 'active': $state.current.name === 'internal.like' }">
		<md-button ng-click="Menu.Go('internal.like')">Filmes curtidos</md-button>
    </md-list-item>
    <md-list-item ng-class="{ 'active': $state.current.name === 'internal.not-like' }">
		<md-button ng-click="Menu.Go('internal.not-like')">Filmes não curtidos</md-button>
    </md-list-item>
</md-list>
