<md-card>
	<img alt="Imagem do filme {{ data.title }}" ng-src="{{ Film.TMDB.URL_POSTER_PATH + data.poster_path }}">
	<md-card-content layout="column" layout-align="end start">
		<div>
			<div layout-padding>
				<h1 class="md-headline" hide-gt-xs>{{ data.title | limitTo:22 }}{{ data.title.length > 22 ? '...' : '' }}</h1>
				<h1 class="md-headline" hide-xs>{{ data.title }}</h1>
				<div layout layout-align="space-between center">
					<favorite number="{{ data.vote_average }}"></favorite>
					<span class="vote-count">({{ data.vote_count }} avaliações)</span>
				</div>
				<div layout layout-align="space-between center">
					<p class="overview" hide-gt-xs>{{ data.overview | limitTo:25 }}...</p>
					<p class="overview" hide-xs>{{ data.overview | limitTo:100 }}...</p>
					<a ui-sref=".film-detail" class="synopsis">Ver sinopse</a>
				</div>
			</div>
		</div>
	</md-card-content>
</md-card>
<md-card-actions layout layout-align="space-between center">
	<div>
		<md-button class="md-icon-button down" ng-click="Main.Down(data)">
			<md-icon>thumb_down</md-icon>
		</md-button>
	</div>
	<div>
		<md-button class="jump" ng-click="Main.Jump(data)">
			Pular
		</md-button>
	</div>
	<div>
		<md-button class="md-icon-button up" ng-click="Main.Up(data)">
			<md-icon>thumb_up</md-icon>
		</md-button>
	</div>
</md-card-actions>
